#clicker {
	width: 70vh;
	height: 70vh;
	position: fixed;
	top: 25vh;
	left: calc((100vw - 70vh) /2);
    border-radius: 50%;
    background: #73AD21;
}

#critical {
	width: 5vh;
	height: 5vh;
	position: absolute;
	top: 50%;
	left: 50%;
    border-radius: 50%;
    background: #f20707;
}

#display {
	width: 20vw;
	height: 10vh;
	position: fixed;
	top: 40vh;
	left: 1vw;
}

#multiply, #autoclic, #bonus {
	width: 32vw;
	height: 20vh;
}

#action {
	width: 100vw;
}