#clicker {
	width: 50vw;
	height: 50vh;
	position: fixed;
	top: 25vh;
	left: 25vw;
}

#display {
	width: 20vw;
	height: 10vh;
	position: fixed;
	top: 40vh;
	left: 1vw;
}

#multiply, #autoclic, #bonus {
	width: 32vw;
	height: 20vh;
}

#action {
	width: 100vw;
}